---
import PostListing from "../../components/blog/PostListing.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../../posts/home/*.{md,mdx}");
---

<Layout title="Privater Kram von Leonid" area="home">
  <div class="container mx-auto max-w-3xl my-10">
    <PostListing posts={posts} path="/home" />
  </div>
</Layout>
