---
import PostListing from "../components/blog/PostListing.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog von Leonid" area="">
  <div class="container mx-auto max-w-3xl my-10">
    <a href="/home">At home</a>
    <a href="/work">At work</a>
  </div>
</Layout>
