---
interface Props {
  categories: string[];
}

const { categories } = Astro.props;
---

<ul class="comma-list">
  {
    categories.map((category: string) => (
      <li>
        <a
          href="/"
          class="border-b-2 border-prime text-gray-600 hover:bg-prime"
        >
          {category}
        </a>
      </li>
    ))
  }
</ul>
