---
import CategoryNames from "../../pages/categories.json";

interface Props {
  categories: string[];
  area: string;
}

const { categories, area } = Astro.props;

const names = new Map(Object.entries(CategoryNames));
---

<ul class="comma-list">
  {
    categories.map((category: string) => (
      <li>
        <a
          href={"/" + area + "/category/" + category}
          class="border-b border-prime -mb-[1px] text-gray-600 hover:bg-prime"
        >
          {names.get(category) ?? category}
        </a>
      </li>
    ))
  }
</ul>
