---
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import PostMeta from "./PostMeta.astro";

interface Props {
  title: string;
  author: string;
  categories: string[];
  Content: AstroComponentFactory;
  pubDate?: string | undefined;
}

const { title, Content, author, categories, pubDate } = Astro.props;
---

<article class="">
  <h2 class="text-4xl font-bold mb-7">{title}</h2>
  <PostMeta author={author} categories={categories} pubDate={pubDate} />
  <div class="prose prose-xl max-w-none font-serif"><Content /></div>
</article>
